<div class="sidebar">

  <div class="logo">
    <i class="fa-solid fa-database fa-2xl"></i>
    <span>Almacenamiento</span>

  </div>


  <!-- <div class="filter">
    <span>filter</span>

  </div> -->


  <div class="actions">
    <!-- <button class="action">
      <i class="fa-solid fa-envelope  fa-xl"></i>
    </button>
    <button class="action">
      <i class="fa-solid fa-calendar-days fa-xl"></i>

    </button> -->
    <button class="action">
      <div class="user-profile">
        <i class="fa-solid fa-user-tie fa-xl"></i>
        <span>walteribanez555</span>
      </div>

    </button>

  </div>

</div>
